Repository abdmmar/tn-ql: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: add basic info
  README.md
Due: prettier --write

refactor: use async/await
  src/index.ts
Due: prettier --write, eslint --fix

feat: add ationalPark(id) query for get one national park
  src/resolvers/nationalPark.ts
  src/typeDefs/nationalPark.ts
Due: prettier --write, eslint --fix

chore: update script
  package-lock.json
  package.json
Due: prettier --write

chore: add commitlint and graphql-playground
  .commitlintrc
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write

feat: add graphql-playground
  src/index.ts
Due: prettier --write, eslint --fix

chore: add prisma schema
  .gitignore
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prettier --write

chore: update data
  src/data/national-parks.json
Due: prettier --write

chore(db): fix schema
  prisma/dev.db
  prisma/migrations/20211013164156_national_park_v1/migration.sql
  prisma/migrations/20211013173007_fix_image/migration.sql
  prisma/migrations/20211013173540_fix_visitor/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: none

chore(db): add seed db
  package.json
  prisma/seed.ts
Due: prettier --write, eslint --fix

chore(data): convert lat&lon to dec and convert str to int
  src/data/national-parks.json
Due: prettier --write

chore(data): change intl_status, license, and add .json file
  src/data/international_status.json
  src/data/license.json
  src/data/national-parks.json
Due: prettier --write

chore(data): add national park and license
  src/data/license.json
  src/data/national-parks.json
Due: prettier --write

chore(data): update and add intl_status
  src/data/international_status.json
  src/data/national-parks.json
Due: prettier --write

chore(db): change schema and add more migration :)
  prisma/dev.db
  prisma/migrations/20211014170341_init/migration.sql
  prisma/migrations/20211020165821_seed/migration.sql
  prisma/migrations/20211020172322_unique_link_intl_status_and_unique_type_license/migration.sql
  prisma/schema.prisma
Due: none

chore(db): change seed db script
  prisma/seed.ts
Due: prettier --write, eslint --fix

chore: add `npx` to script
  nodemon.json
Due: prettier --write

feat: connect db to server with prisma client
  src/index.ts
Due: prettier --write, eslint --fix

feat: change and add type
  src/typeDefs/nationalPark.ts
Due: prettier --write, eslint --fix

feat: add scalar Date
  src/resolvers/index.ts
Due: prettier --write, eslint --fix

feat: match type and update resolver to get data from db
  src/resolvers/nationalPark.ts
Due: prettier --write, eslint --fix

feat: delete unused and add `nationalPark` resolver
  src/resolvers/nationalPark.ts
Due: prettier --write, eslint --fix

chore: add baseUrl
  tsconfig.json
Due: prettier --write

chore: add types
  src/types/index.ts
Due: prettier --write, eslint --fix

feat: add image typeDefs
  src/typeDefs/image.ts
  src/typeDefs/index.ts
  src/typeDefs/nationalPark.ts
Due: prettier --write, eslint --fix

feat: add scalar file
  src/resolvers/scalar.ts
Due: prettier --write, eslint --fix

feat: add image query resolver
  src/resolvers/image.ts
  src/resolvers/index.ts
  src/resolvers/nationalPark.ts
Due: prettier --write, eslint --fix

chore: add binaryTarget to run on docker
  prisma/schema.prisma
Due: none

feat: add multiple tsconfig to build src
  src/tsconfig.json
Due: prettier --write

chore: add docker (need optimize)
  Dockerfile
  docker-compose.yml
Due: none

chore: add script to run on docker
  package.json
Due: prettier --write

chore: add Caddyfile
  Caddyfile
Due: none

chore: add caddy container
  docker-compose.yml
Due: none

chore: change to container name
  Caddyfile
Due: none

docs: add deployment process, folder structure, and all queries
  README.md
Due: prettier --write

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

chore: add rate limit and depth limit dep
  package-lock.json
  package.json
Due: prettier --write

feat: add depth limit
  src/index.ts
Due: prettier --write, eslint --fix

feat: add rate limit
  src/resolvers/image.ts
  src/resolvers/nationalPark.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix

chore: update domain
  Caddyfile
Due: none

Path conditions:
  prettier --write: (any of: *.ts) or (any of: *.{ts,json,md})
  eslint --fix: any of: *.ts
